*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color: darkslategray;
    text-align: center;
}

.container{
    /* vh = viewport height */
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    /* flex - makes everything come in same line */
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    gap: 1.5vmin;
    
    
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(red, green, blue, 0.3);
    font-size: 8vmin;
    background-color: #ffffc7;
    color: #000;

}

#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border:none;
}

#newgame{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border:none;
}

#message{
    font-size: 5vmin;
}

.message-container{
    height: 20vmin;
}

.hide{
    display: none;
}
